<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calculator</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <nav>

    </nav>
    <section>
        <div class="content">
            <h1 id="title" class="main">calculadora</h1>
            <input id="valor1" type="text" class="valor1" placeholder="Valor 1">
            <input id="valor2" type="text" class="valor2" placeholder="Valor 2">
            <button id="cal">Calcular</button>

            <p class="result " id="result"></p>
        </div>
    </section>

    <script src="../js/calculadora.js "></script>
</body>

</html>